In [3]:
#import

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
import plotly.graph_objs as go
print (__version__)
init_notebook_mode(connected=True)

2.0.0

In [4]:
mls_2017 = pd.read_csv('MLS_Player_Salaries_2017.csv')

mls_2017 = pd.DataFrame(mls_2017)

# fix base salary to a float point
fix_base = mls_2017['Base Salary'].str.replace('$',"")
fix_base = fix_base.str.replace(',','')
fix_base = fix_base.astype(float)

# fix guaranteed compensation to a float point
fix_comp = mls_2017['Guaranteed Compensation'].str.replace('$',"")
fix_comp = fix_comp.str.replace(',','')
fix_comp = fix_comp.astype(float)

#check to see if above works by taking sum of column
Total_base = sum(fix_base)
print(Total_base)
Total_comp = sum(fix_comp)
print(Total_comp)

# Change Season to datetime Year
season = mls_2017['Season'].astype(str)
season = pd.to_datetime(season)
season = season.dt.year

182938285.91
200901764.26

In [9]:
#Preparing guaranteed compensation table grouped by club

mls_2017['Base Salary'] = fix_base
mls_2017['Guaranteed Compensation'] = fix_comp
mls_2017['Season'] = season
mls_2017

comp = mls_2017[['Club','Guaranteed Compensation']].groupby('Club').sum().reset_index()
comp = comp.sort_values(by='Guaranteed Compensation', ascending=True)
comp

     Club  Guaranteed Compensation
9    LAFC                118008.00
6     HOU               5025066.65
11    MTL               5215855.89
5      DC               5272447.94
10  MNUFC               5322864.55
12     NE               5800118.33
4     DAL               6510760.94
7      KC               6730358.78
2     CLB               6747544.99
14   NYRB               6895186.17
20     SJ               6959287.11
16    PHI               7117010.10
18    RSL               7734355.44
3     COL               8040619.75
22    VAN               8079371.07
0     ATL               8930754.26
19    SEA              10372300.48
17    POR              10824144.54
8      LA              12117892.11
1     CHI              12952278.17
15    ORL              13219199.70
13  NYCFC              17930365.69
21    TOR              22478565.27

In [ ]:
#plotly test
trace = go.Bar(x=[1,2],y=[1,2])
data = [trace]
py.iplot(data)

In [11]:
# horizontal bar graph
trace = go.Bar(x=comp['Guaranteed Compensation'],
               y=comp['Club'],
              orientation='h'
              )
data = [trace]
py.iplot(data)